@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: NotoColorEmoji;
    unicode-range: U+1F1E6-1F1FF;
    src: url("../fonts/NotoColorEmoji.ttf") format('truetype');
}

html {
    height: 100%;
}

body {
    background: url('../images/background.svg');
    margin: 0;
    width: 100%;
    height: 100%;
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
}

header {
    margin: 44px 0px;
}

header h1 {
    font-size: 67px;
    font-weight: bold;
    color: rgb(255 255 255);
    text-shadow: 2px 2px 6px rgb(0 0 0 / 26%);
}

footer {
    font-size: 22px;
    color: rgb(145 153 173);
    text-align: center;
    text-shadow: 1px 1px 0px rgb(255 255 255 / 58%);
    font-family: 'monserrat', sans-serif;
    padding: 100px;
}

footer b {
    color: rgb(99 109 123);
}

footer a {
    color: rgb(137 141 255) !important;
    text-decoration: none;
}

.credits {
    font-size: 18px;
    opacity: 0.7;
}

img.github {
    display: block;
    width: 50px;
    margin: 27px auto 10px auto;
    opacity: 0.8;
}

img.github:hover {
    opacity: 1;
}

.logo-emoji {
    font-size: 27px;
    text-shadow: 0 0 0 !important;
    display: inline-block;
    position: relative;
    top: -7px;
    background: rgb(255 255 255);
    border-radius: 35px;
    height: 37px;
    width: 37px;
    padding: 1px 0px 0px 0px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 28%);
    margin: 0px 2px;
    text-align: center;
}

.data-panel {
    background: rgb(251 252 253 / 28%);
    min-height: 100px;
    border-radius: 9px;
    padding: 30px !important;
    box-shadow: 0px 0px 38px rgb(81 93 121 / 21%);
    font-family: 'monserrat', sans-serif;
    backdrop-filter: blur(5px);
}

.data-panel .text {
    color: rgb(90 100 123);
    font-size: 20px;
    margin-bottom: 30px;
}

.header .description {
    font-size: 29px;
    font-family: 'Marck Script';
    color: rgb(120 129 146);
    margin-top: 13px;
    margin-left: 7px;
    margin-bottom: -21px;
}

.emoji:hover {
    background: rgb(196 203 214);
    border: 1px solid rgb(166 176 191 / 83%);
    box-shadow: 0px 0px 6px rgb(186 195 208);
}

.emoji {
    display: inline-block;
    background: rgb(212 218 227);
    margin-right: 6px;
    min-width: 68px;
    height: 68px;
    font-size: 41px;
    margin-bottom: 6px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid rgb(0,0,0,0);
    font-family: 'NotoColorEmoji', -apple-system, BlinkMacSystemFont, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    padding: 2px;
}

.title {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: lighter;
    color: rgb(113 123 150);
    font-family: 'monserrat', sans-serif;
}

.block {
    margin-bottom: 28px;
}

.block .title span {
    margin-left: 0px;
    font-size: 14px;
    padding: 5px 10px 4px;
    border-radius: 22px;
    color: rgb(143 154 169 / 85%);
    margin-top: 5px;
    font-family: 'monserrat', sans-serif;
    position: relative;
    top: -1px;
}

.block .description {
    background: rgb(147 159 183);
    padding: 17px 21px 15px;
    margin-bottom: 13px;
    border-radius: 4px;
    font-size: 15px;
    color: rgb(255 255 255);
    width: fit-content;
}